/***** || EVENTO *****/
#presentacion-evento {
    position: absolute;
    width: 70%;
    margin-left: 5%;
    padding: 0 1.25% 0 1.25%;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 1vw;
    text-align: justify;
}

#fotos {
    float: right;
    width: 30%;
    margin: 8% 1% 0 3%;
}

#fotos figure {
    margin-right: 0;
    margin-left: 0;
}

.foto {
    width: 100%;
    border-radius: 1vw;
}

.pie-foto {
    font-size: 50%;
    text-align: center;
}

#titulo-evento {
    font-size: 2vw;
}

#organizador {
    margin-left: 3%;
    margin-bottom: 1%;
    font-size: 125%;
    font-weight: bold;
    font-style: italic;
}

#fecha-hora {
    margin-top: 0;
    margin-left: 5%;
    font-style: italic;
}
/**************************/

/***** || COMENTARIOS *****/
.boton {
    background-color: white;
    border-color: white;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 1vw;
    font-family: Quicksand;
    font-size: 75%;
    font-weight: bold;
    font-style: italic;
}

.boton:focus {
    outline: none;
}

#contenedor-comentarios h4{
    font-size: 150%;
    margin: 3% 0% 2% 0%;
}

#contenedor-interno-comentarios {
    display: none;
}

.comentario {
    padding: 1% 2% 1% 2%;
    margin: 1% 0% 1% 0%;
    background-color: white;
    border-radius: 1vw;
    color: black;
}

.autor-comentario {
    font-weight: bold;
    font-style: italic;
}

.fecha-comentario {
    font-style: italic;
}

.input {
    display: block;
}

.input label {
    font-weight: bold;
}

.input input, .input textarea {
    display: block;
    font-family: Quicksand;
    font-size: 1vw;
    resize: none;
}

#texto-comentario {
    display: block;
    width: 75%;
    height: 15vh;
}
/**************************/