/***** || PERFIL *****/
.contenedor-perfil {
    margin-left: 1%;
    padding: 2% 0 2% 0%;
    border-radius: 1vw;
    background-color: rgba(0, 0, 0, 0.9);
}

.contenedor-perfil section {
}

.contenedor-informacion {
    display: relative;
    margin: 0 3% 0 3%;
}

h2 span {
    font-weight: normal;
}

/**************************/

