html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    color: black;
    font-family: serif;
    background-color: white;
    scroll-behavior: smooth;
}

#fondo {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/background1.jpg");
    background-size: cover;
    background-position: center top;
    animation-name: fadein;
    animation-duration: 2.2s;
}

header {
    position: relative;
    width: 100%;
    height: 20.5%;
    z-index: 1;
    text-align: center;
}

nav {
    font-size: 1.5vw;
    position: fixed;
    min-width: 100%;
}

nav a {
    width: 100%;
}

#logo {
    display: block;
    position: relative;
    width: 4%;
    padding: 1% 0 0 0;
    margin: auto;
}

#menu {
    display: none;
    width: 65vw;
    padding: 1.4% 1% 1% 1%;
}

ul {
    list-style-type: none; /*Eliminar las viñetas*/
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
    display: inline-block;
    padding: 1%;
    margin-right: 2%;
}

main {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 60%;
    font-size: 1vw;
}

#presentacion {
    position: absolute;
    width: 37.5%;
    margin-left: 5%;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0 1.25% 0 1.25%;
    border-radius: 1vw;
}

#presentacion-evento {
    position: relative;
    margin: 4%;
    text-align: justify;
    border-radius: 1vw;
}

#descripcion {
}

#organizador {
    font-size: 125%;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 1%;
    margin-left: 3%;
}

#web-organizador {
    display: none;
}

#fecha-hora {
    font-style: italic;
    margin-top: 0;
    margin-left: 5%;
}

#fotos {
    float: right;
    width: 20%;
    margin: 2% 1% 0 3%;
}

#fotos figure {
    margin-right: 0;
    margin-left: 0;
}

.foto {
    width: 100%;
    border-radius: 1vw;
}

.pie-foto {
    font-size: 50%;
    text-align: center;
}

#comparte {
    display: none;
}



#titulo-evento {
    font-size: 2vw;
}

#lateral {
    display: none;
    position: relative;
    float: right;
    margin-right: 3%;
    width: 14%;
    height: 75vh;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 1vw;
    font-weight: bold;
    padding: 0 1.25% 0 1.25%;
    font-size: 1vw;
}

#lateral p {
    font-size: 120%;
}

#lateral li {
    padding-left: 10%;
    padding-bottom: 10%;
}

#titulo {
    position: relative;
    display: inline-block;
    margin: 1% 0 0 0;
}

#titulo h1 {
    margin: 0;
}

#titulo-eventos, #titulo-fotografias, #titulo-sobrenosotros {
    text-align: center;
    font-size: 2.2vw;
    font-weight: bold;
}

#eventos {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto;
    padding-left: 5%;
    padding-right: 5%;
}

#eventos a {
    font-weight: normal;
}

.evento {
    position: relative;
    min-height: 20vh;
    font-size: 1vw;
    border-radius: 3vw;
    background-size: cover;
    padding-left: 5%;
    margin: 2%;
}

.evento h3 {
    padding-left: 2%;
    padding-right: 2%;
    display: inline-block;
    border-radius: 1vw;
    background-color: rgba(0, 0, 0, 0.6);
}

.evento p {
    padding-left: 2%;
    padding-right: 2%;
    display: inline-block;
    border-radius: 1vw;
    background-color: rgba(0, 0, 0, 0.7);
}

#stars {
    background-position: center;
    background-image: url("../img/stars.jpg");
}

#animals {
    background-position: center;
    background-image: url("../img/animals.jpg");
}

#portrait {
    background-position: center 25%;
    background-image: url("../img/portrait.jpg");
}

#alhambra {
    background-position: center;
    background-image: url("../img/alhambra.jpg");
}

#palms {
    background-position: center;
    background-image: url("../img/palms.jpg");
}

#object {
    background-position: center;
    background-image: url("../img/landscape.jpg");
}

#landscape {
    background-position: center;
    background-image: url("../img/landscape.jpg");
}

#clock {
    background-position: center 30%;
    background-image: url("../img/clock.jpg");
}

#eyes {
    background-position: center;
    background-image: url("../img/eyes.jpg");
}

footer {
    text-align: center;
    padding-top: 2%;
}

.redes-sociales a {
    display: none;
    max-width: 5%;
    min-width: 5%;
}

.red-social {
    width: 50%;
    height: 50%;
}

#copyright {
    font-size: 1vw;
    padding-bottom: 1%;
}

a {
    display: block;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

p a {
    display: inline-block;
}

p abbr {
    text-decoration: unset;
}


/****** Fuentes ******/
@font-face {
    font-family: Quicksand;
    src: url("../fonts/Quicksand-Light.ttf");
}

@font-face {
    font-family: Quicksand;
    src: url("../fonts/Quicksand-SemiBold.ttf");
    font-weight: bold;
}

/****** Animaciones ******/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}