{% extends "base.html" %}

    {% block title %} Evento - {{ evento.nombre }} {% endblock %}

    {% block css %}
        <link rel="stylesheet" type="text/css" href="/css/base.css"/>
        <link rel="stylesheet" type="text/css" href="/css/evento.css"/>
        <link rel="stylesheet" type="text/css" href="/css/formulario.css"/>
        <link rel="stylesheet" type="text/css" href="/css/boton.css"/>
    {% endblock %}

    {% block content %}
        <main>  <!-- Parte principal de la web | Presentación del evento -->
            <article id="presentacion-evento">
                <h2 id="titulo-evento">{{ evento.nombre }}</h2> <!-- Título del artículo (evento) -->
                <div id="fotos"> <!-- Fotos del evento -->
                    {% for imagen in imagenes %}
                        <figure>
                            <img id="cosmos{{ imagen.id_imagen }}" class="foto" src="{{ imagen.path }}" alt="{{ imagen.descripcion }}">
                            <figcaption class="pie-foto">{{ imagen.descripcion }} &copy {{ imagen.year }} {{ imagen.autor }}</figcaption>
                        </figure>
                    {% endfor %}
                </div>
                <div id="descripcion"> <!-- Descripción del evento -->
                    <p id="organizador">{{ evento.organizador }}</p>
                    <p id="fecha-hora"><time datetime="2021-10-29 23:00"></time>
                        {{ evento.fecha }} a las {{ evento.hora }} en {{ evento.lugar }}</p>
                    <p>{{ evento.descripcion }}</p>
                    <address id="web-organizador"><a href="{{ evento.url }}"><abbr>Visita la web del organizador</abbr></a></address>
                </div>
                <div id="comparte" class="redes-sociales"> <!-- Comparte del evento -->
                    <p>¡Comparte el evento en tus redes sociales!</p>
                    <a href="https://www.instagram.com/"><img class="red-social" src="/img/logoinstagram.png" alt="Logo de Instagram"/></a>
                    <a href="https://twitter.com/"><img class="red-social" src="/img/logotwitter.png" alt="Logo de Twitter"/></a>
                    <a href="https://www.facebook.com/"><img class="red-social" src="/img/logofacebook.png" alt="Logo de Facebook"/></a>
                    <a href="{{ evento.id_evento }}/imprimir"><img class="red-social" src="/img/logoimpresora.png" alt="Logo de Impresora"/></a>
                </div>
            {% block comments %}
                    <div id="contenedor-comentarios">
                        <button id="botonComentarios" class="boton" onclick="visualizacionComentarios()">Mostrar comentarios</button>
                        <div id="contenedor-interno-comentarios">
                            <div id="comentarios">
                                {% for comentario in comentarios %}
                                    <div id="comentario{{ comentario.id_comentario }}" class="comentario">
                                        <div class="autor-comentario">{{ comentario.nombre }},</div>
                                        <div class="fecha-comentario">el {{ comentario.fecha }}, comentó:</div>
                                        <p class="texto-comentario">{{ comentario.comentario }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                            <h4>¡Escribe tu opinión!</h4>
                            <div id="formulario">
                                <form action="javascript:void(0);">
                                    <div class="input">
                                        <label for="nombre">Nombre</label>
                                        <input type="text" id="nombre" name="nombre"/>
                                    </div>
                                    <div class="input">
                                        <label for="email">Email</label>
                                        <input type="email" id="email" name="email"/>
                                    </div>
                                    <div class="input">
                                        <label for="texto-comentario">Comentario</label>
                                        <textarea id="texto-comentario" name="texto-comentario" rows="2" cols="10" oninput="filtrarPalabrotas({{ palabrotas | json_encode }})"></textarea>
                                    </div>
                                    <button id="botonEnviar" class="boton" onclick="enviarComentario()">Enviar</button>
                                </form>
                            </div>
                        </div>
                    </div>
            {% endblock %}
            </article>
        </main>

        {% block comentariosjs %}
            <script src="/js/comentarios.js"></script>
        {% endblock %}
    {% endblock %}