{% extends "base.html" %}

    {% block title %} Evento - {{ evento.nombre }} {% endblock %}

    {% block css %}
        <link rel="stylesheet" type="text/css" href="/css/base.css"/>
        <link rel="stylesheet" type="text/css" href="/css/evento.css"/>
        <link rel="stylesheet" type="text/css" href="/css/formulario.css"/>
        <link rel="stylesheet" type="text/css" href="/css/boton.css"/>
    {% endblock %}

    {% block content %}
        <main>  <!-- Parte principal de la web | Presentación del evento -->
            <article id="presentacion-evento">
                <h2 id="titulo-evento">{{ evento.nombre }}</h2> <!-- Título del artículo (evento) -->
                <div id="fotos"> <!-- Fotos del evento -->
                    {% for imagen in imagenes %}
                        <figure>
                            <img id="cosmos{{ imagen.id_imagen }}" class="foto" src="{{ imagen.path }}" alt="{{ imagen.descripcion }}">
                            <figcaption class="pie-foto">{{ imagen.descripcion }} &copy {{ imagen.year }} {{ imagen.autor }}</figcaption>
                        </figure>
                    {% endfor %}
                </div>
                <div id="descripcion"> <!-- Descripción del evento -->
                    <p id="organizador">{{ evento.organizador }}</p>
                    <p id="fecha-hora"><time datetime="2021-10-29 23:00"></time>
                        {{ evento.fecha }} a las {{ evento.hora }} en {{ evento.lugar }}</p>
                    <p>{{ evento.descripcion }}</p>
                    <address id="web-organizador"><a href="{{ evento.url }}"><abbr>Visita la web del organizador</abbr></a></address>
                    <p class="etiquetas">Etiquetas: <p class="etiquetas"></p>
                        {% if usuario.rol and usuario.rol != 'Registrado' and usuario.rol != 'Moderador' %}
                            <a id="enlace-crear-etiqueta" href="/evento/{{ evento.id_evento}}/crear-etiqueta"><img id="boton-crear-etiqueta" class="boton-accion-etiqueta" type="image" src="/img/addwhite.png" /></a>
                        {% endif %}
                    </p>
                    {% if etiquetas %}
                        <p>
                            {% for etiqueta in etiquetas %}
                                <div class="etiquetas">
                                    {{ etiqueta.etiqueta }}

                                    {% if usuario.rol and usuario.rol != 'Registrado' and usuario.rol != 'Moderador' %}
                                         <form action="../borrarEtiqueta.php" method="post" class="botones-acciones-etiquetas">
                                            <input id="id-evento-eliminar-etiqueta" name="idEvento" type="hidden" value={{ etiqueta.id_evento }} />
                                            <input id="id-etiqueta-eliminar-etiqueta" name="idEtiqueta" type="hidden" value={{ etiqueta.id_etiqueta }} />
                                            <input id="boton-eliminar-etiqueta" class="boton-accion-etiqueta" type="image" src="/img/deletewhite.png" />
                                        </form>
                                    {% endif %}

                                    {% if not loop.last %}
                                        |
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </p>
                    {% endif %}
                </div>
                <div id="comparte" class="redes-sociales"> <!-- Comparte del evento -->
                    <p>¡Comparte el evento en tus redes sociales!</p>
                    <a href="https://www.instagram.com/"><img class="red-social" src="/img/logoinstagram.png" alt="Logo de Instagram"/></a>
                    <a href="https://twitter.com/"><img class="red-social" src="/img/logotwitter.png" alt="Logo de Twitter"/></a>
                    <a href="https://www.facebook.com/"><img class="red-social" src="/img/logofacebook.png" alt="Logo de Facebook"/></a>
                    <a href="{{ evento.id_evento }}/imprimir"><img class="red-social" src="/img/logoimpresora.png" alt="Logo de Impresora"/></a>
                </div>
                {% if usuario.rol and usuario.rol != "Registrado" and usuario.rol != "Moderador" %}
                    <div id="acciones-evento" class="botones-acciones-evento">
                        <form action="../editarEvento.php" method="post" class="botones-acciones-comentarios">
                            <input id="id-evento-editar-evento" name="idEvento" type="hidden" value={{ evento.id_evento }} />
                            <input id="boton-editar-evento" class="boton-accion-comentario" type="image" src="/img/editwhite.png" />
                        </form>
                        <form action="../borrarEvento.php" method="post" class="botones-acciones-comentarios">
                            <input id="id-evento-borrar-evento" name="idEvento" type="hidden" value={{ evento.id_evento }} />
                            <input id="boton-modificar-evento" class="boton-accion-comentario" type="image" src="/img/trashwhite.png" />
                        </form>
                    </div>
                {% endif %}
                {% block comments %}
                    <div id="contenedor-comentarios">
                        <button id="botonComentarios" class="boton" onclick="visualizacionComentarios()">Mostrar comentarios</button>
                        <div id="contenedor-interno-comentarios">
                            <div id="comentarios">
                                {% for comentario in comentarios %}
                                    <div id="comentario{{ comentario.id_comentario }}" class="comentario">
                                        <div class="autor-comentario">{{ comentario.nombre }},</div>
                                        <div class="fecha-comentario">el {{ comentario.fecha }}, comentó:</div>
                                        <p class="texto-comentario">{{ comentario.comentario }}</p>
                                        {% if comentario.id_moderador != -1 %}
                                            <p class="comentario-modificado">(este comentario ha sido modificado por un moderador)</p>
                                        {% endif %}
                                        {% if usuario.rol and usuario.rol != "Registrado" and usuario.rol != "Gestor" %}
                                            <div>
                                                <form action="../editarComentario.php" method="post" class="botones-acciones-comentarios">
                                                    <input id="id-evento-editar-comentario" name="idEvento" type="hidden" value={{ evento.id_evento }} />
                                                    <input id="id-comentario-a-editar" name="idComentario" type="hidden" value={{ comentario.id_comentario }} />
                                                    <input id="boton-editar-comentario" class="boton-accion-comentario" type="image" src="/img/edit.png" />
                                                </form>
                                                <form action="../borrarComentario.php" method="post" class="botones-acciones-comentarios">
                                                    <input id="id-evento-borrar-comentario" name="idEvento" type="hidden" value={{ evento.id_evento }} />
                                                    <input id="id-comentario-a-borrar" name="idComentario" type="hidden" value={{ comentario.id_comentario }} />
                                                    <input id="boton-modificar-comentario" class="boton-accion-comentario" type="image" src="/img/trash.png" />
                                                </form>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                            <h4>¡Escribe tu opinión!</h4>
                            {% if usuario.rol %}
                                <div id="formulario">
                                    <form action="/crearComentario.php" onsubmit="return enviarComentario()" method="post">
                                        <div class="input">
                                            <label for="texto-comentario">Comentario</label>
                                            <textarea id="texto-comentario" name="texto-comentario" rows="2" cols="10" oninput="filtrarPalabrotas({{ palabrotas | json_encode }})"></textarea>
                                        </div>
                                        <input id="id-evento" name="idEvento" type="hidden" value={{ evento.id_evento }} />
                                        <input id="id-usuario" name="idUsuario" type="hidden" value={{ usuario.id_usuario }} />
                                        <input id="botonEnviar" class="boton" type="submit" value="Enviar"/>
                                    </form>
                                </div>
                            {% else %}
                                <a href="/login"><p>Iniciar sesión</p></a>
                            {% endif %}
                        </div>
                    </div>
            {% endblock %}
            </article>
        </main>

        {% block comentariosjs %}
            <script src="/js/comentarios.js"></script>
        {% endblock %}
    {% endblock %}