{% extends "base.html" %}

    {% block css %}
        <link rel="stylesheet" type="text/css" href="/css/base.css"/>
        <link rel="stylesheet" type="text/css" href="/css/evento.css"/>
    {% endblock %}

    {% block content %}
        <main>  <!-- Parte principal de la web | Presentación del evento -->
            <article id="presentacion-evento">
                <h2 id="titulo-evento">Evento fotográfico {{ id }}</h2> <!-- Título del artículo (evento) -->
                <div id="fotos"> <!-- Fotos del evento -->
                    <figure>
                        <img id="cosmos1" class="foto" src="/img/space1color.jpg" alt="Imagen del Espacio">
                        <figcaption class="pie-foto">Space photo. © 2021 ESA</figcaption>
                    </figure>
                    <figure>
                        <img id="cosmos2" class="foto" src="/img/space2color.jpg" alt="Imagen del Espacio">
                        <figcaption class="pie-foto">Space photo. © 2021 ESA</figcaption>
                    </figure>
                </div>
                <div id="descripcion"> <!-- Descripción del evento -->
                    <p id="organizador">Asociación de Fotógrafos Profesionales de España</p>
                    <p id="fecha-hora"><time datetime="2021-10-29 23:00"></time>Viernes 29 de octubre de 2021 a las 23:00 en el Mirador de San Miguel Alto</p>
                    <p>Integer at fermentum velit. Curabitur ultricies mi in massa elementum, imperdiet condimentum ante tempus. Duis vehicula eu lorem in vestibulum. Suspendisse potenti. Sed bibendum vestibulum dui eu aliquam. Pellentesque ut dolor non sem luctus suscipit. Cras sed metus ornare, pretium magna eget, aliquam mauris. Curabitur rutrum aliquet placerat. Nunc hendrerit elit risus, convallis lobortis ipsum sodales sit amet.</p>
                    <p>Sed bibendum vestibulum dui eu aliquam. Pellentesque ut dolor non sem luctus suscipit. Cras sed metus ornare, pretium magna eget, aliquam mauris. Curabitur rutrum aliquet placerat. Cras sed metus ornare, pretium magna eget, aliquam mauris. Curabitur rutrum aliquet placerat. Nunc hendrerit elit risus, convallis lobortis ipsum sodales sit amet.</p>
                    <p>Duis vehicula eu lorem in vestibulum. Suspendisse potenti. Duis vehicula eu lorem in vestibulum. Suspendisse potenti. Duis vehicula eu lorem in vestibulum. Suspendisse potenti. Duis vehicula eu lorem in vestibulum.</p>
                    <address id="web-organizador">Visita la web del organizador: <a href="https://afpe.pro/"><abbr title="Asociación de Fotógrafos Profesionales de España">AFPE</abbr></a></address>
                </div>
                <div id="comparte" class="redes-sociales"> <!-- Comparte del evento -->
                    <p>¡Comparte el evento en tus redes sociales!</p>
                    <a href="https://www.instagram.com/"><img class="red-social" src="/img/logoinstagram.png" alt="Logo de Instagram"/></a>
                    <a href="https://twitter.com/"><img class="red-social" src="/img/logotwitter.png" alt="Logo de Twitter"/></a>
                    <a href="https://www.facebook.com/"><img class="red-social" src="/img/logofacebook.png" alt="Logo de Facebook"/></a>
                    <a href="evento-imprimir.html"><img class="red-social" src="/img/logoimpresora.png" alt="Logo de Impresora"/></a>
                </div>
            {% block comments %}
                    <div id="contenedor-comentarios">
                        <button id="botonComentarios" class="boton" onclick="visualizacionComentarios()">Mostrar comentarios</button>
                        <div id="contenedor-interno-comentarios">
                            <div id="comentarios">
                                <div id="comentario2" class="comentario">
                                    <div class="autor-comentario">Juan Pérez,</div>
                                    <div class="fecha-comentario">el lunes 30 de marzo de 2021 a las 19:23, comentó:</div>
                                    <p class="texto-comentario">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nisi arcu, volutpat ut urna eu, tincidunt fermentum elit. Maecenas tellus ipsum, sodales vitae lacus ac, dictum finibus eros. Vestibulum vel euismod ex, a luctus nulla. Mauris sed eros feugiat, feugiat orci vel, tempor tortor.</p>
                                </div>
                                <div id="comentario1" class="comentario">
                                    <div class="autor-comentario">Antonio Sánchez,</div>
                                    <div class="fecha-comentario">el lunes 25 de marzo a las 13:01, comentó:</div>
                                    <p class="texto-comentario">Nam ornare erat at posuere cursus. Aenean et laoreet dolor. Morbi ultrices, mi vel pretium suscipit, augue tortor varius lorem, gravida ultricies lacus risus id justo.</p>
                                </div>
                            </div>
                            <h4>¡Escribe tu opinión!</h4>
                            <div id="formulario">
                                <form action="javascript:void(0);">
                                    <div class="input">
                                        <label for="nombre">Nombre</label>
                                        <input type="text" id="nombre" name="nombre"/>
                                    </div>
                                    <div class="input">
                                        <label for="email">Email</label>
                                        <input type="email" id="email" name="email"/>
                                    </div>
                                    <div class="input">
                                        <label for="texto-comentario">Comentario</label>
                                        <textarea id="texto-comentario" name="texto-comentario" rows="2" cols="10" oninput="filtrarPalabrotas()"></textarea>
                                    </div>
                                    <button id="botonEnviar" class="boton" onclick="enviarComentario()">Enviar</button>
                                </form>
                            </div>
                        </div>
                    </div>
            {% endblock %}
            </article>
        </main>

        {% block comentariosjs %}
            <script src="/js/comentarios.js"></script>
        {% endblock %}
    {% endblock %}